<%= form_with model: @user, url: update_user_path, method: :patch, local: true do |f| %>
  <% if @user.errors.full_messages.each do |msg| %>
    <ul>
        <li><%= msg %></li>
    </ul>
  <% end; end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <% if !user_signed_in? %>
    <div>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
    <%= f.submit 'Sign Up', class: "btn btn-secondary" %>
  <% else %>
    <%= f.submit 'Edit User', class: "btn btn-secondary" %>
  <% end %>

<% end %>



  